@font-face {
  font-family: 'exo2.0-thin';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/exo2.0-thin.woff2) format('woff2');
}
@font-face {
  font-family: TrebuchetMS;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/TrebuchetMS.woff2) format('woff2');
}
@font-face {
  font-family: TrebuchetMS-Bold;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/TrebuchetMS-Bold.woff2) format('woff2');
}

:root {
  --font-body:
    TrebuchetMS, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-exo-thin: 'exo2.0-thin', sans-serif;
  --font-bold: 'TrebuchetMS-Bold', sans-serif;
  --color-base-strong: #000000;
  --color-base-weak: #ffffff;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: var(--color-base-weak);
  font-family: var(--font-body);
  background-color: var(--color-base-strong);
  background-image: url('../images/pattern.jpg');
  background-repeat: repeat;
}

h1,
h2,
p {
  margin: 0;
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a {
  color: var(--color-theme-1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 1rem;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.app-title {
  font-size: 2.25rem;
  font-family: var(--font-exo-thin);
}

.app-products {
  display: flex;
  gap: 3rem;
}
